/*------------------MAIN LISTA PRODUCTOS------------------*/
.listProducts{
    display: block;
}
/*-----filtrado----*/
.filtradoLista{
    margin: 10px;
}

.filtradoLista h4{
    margin: auto 5px;
}

.filtradoLista div {
    padding-top: 5px;
}

.filtradoLista div select{
    margin: 5px;
    width: 30%;
    border:0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    color:#536FFF;
}

.elegirFiltrado div select{
    margin: auto 5px;
    width: 100%;
    border:0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    color:#536FFF;
}

/*--------tabla-------*/
.tabla{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
}

.tabla table{
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    
}

.tabla table th {
    text-align: left;
}
#nombre{
    display:table-cell;
}
#descripcion,#precio,#categoria{
    display: none;
}


/*--------------TABLA USUARIOS------------------*/
.tablaUsers{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
}

.tablaUsers table{
    width: 100%;
    border-collapse: collapse;
    
}

.tablaUsers table th {
    text-align: left;
}

.botonesTabla{
    display: flex;
    justify-content: flex-end;
}
/*-------------- FIN TABLA USUARIOS------------------*/

button.crearProducto{
    margin: 10px 5px;
    font-size: 16px;
    padding: 6px;
    color: #F3F0D7;
    background-color:#FF7070;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.botonEditar {
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    color: #F3F0D7;
    background-color: #FF7070;
    border: 0;
    border-radius: 10px;
}

button.botonEliminar{
    margin: 5px;
    font-size: 15px;
    padding: 5px;
    color: #F3F0D7;
    background-color: #FF7070;
    border: 0;
    border-radius: 10px;
}

/*--------------FIN LISTA DE PRODUCTOS------------------*/
/*--------------DETALLE DEL PRODUCTO ------------------*/
.contenedorDetalle{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    text-align: center;
}

.contenedorDetalle .dato{
    background-color: #ebebeb;
}

.productData, .inputsData{
    padding: 10px;
}

.productData h4{
    text-align: left;
    padding: 5px;
}

.imagesDetail{
    padding: 10px;
}

.detail{
    width: 100%;
}

/*-------------- FIN DETALLE DEL PRODUCTO ------------------*/
/*------------------MAIN CREAR PRODUCTO------------------*/

.contenedorCrear{
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    background-color: #F3F0D7;
    border-radius: 10px;
    text-align: center;
}

.crear div{
    margin: 10px;
}

.dato{
    border:0;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

.imagen{
    text-align: left;
}

.crear div select{
    border:0;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    box-shadow: -4px 4px 2px #B0B8FF;
    background-color: white;
    
}
.crear div h4{
    margin: 3px;
    text-align: left;
}

button.botonCrear, .botonCancelar{
    margin: 10px 5px;
    font-size: 16px;
    padding: 6px;
    color: #F3F0D7;
    background-color:#FF7070;
    border: 0;
    border-radius: 10px;
    box-shadow: -4px 4px 2px #B0B8FF;
}

/*--------adaptaciones------------*/


@media(min-width: 430px) {
    
    /*--------parte del listaproduct-----*/

    .contenedorDetalle{
        width: 75%;
    }

    #descripcion{
        display: table-cell;
    }
    
}


@media (min-width:769px){

    /*--------parte del listaproduct-----*/
    #precio,#categoria{
        display: table-cell;
    }

    .filtradoLista div select{
        width: 20%;
    }

    .datosTabla{
        border-right: 1px solid #FF7070;
    }

    button{
        cursor: pointer;
    }

    .botonEditar{
        margin: 10px 5px;
        font-size: 16px;
        padding: 6px;
        color: #F3F0D7;
        background-color:#FF7070;
        border: 0;
        border-radius: 10px;
        box-shadow: -4px 4px 2px #B0B8FF;
    }

    button.botonEliminar{
        margin: 10px 5px;
        font-size: 16px;
        padding: 6px;
        color: #F3F0D7;
        background-color:#FF7070;
        border: 0;
        border-radius: 10px;
        box-shadow: -4px 4px 2px #B0B8FF;
    }
    /*--------parte del product add-----*/
    .contenedorCrear{
        width: 45%;
        
    }

    /*--------parte del product detail-----*/
    .contenedorDetalle {
        width: 50%;
    }

    .imagesDetail {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .detail {
        width: 25%;
        padding: 5px;
    }

    .inputs{
        text-align: left;
        display: flex;
        justify-content: space-around;
    }

    .inputsData {
        padding: 10px;
        width: 100%;
    }
}