
/*-------------------carrusel-------------*/
.slider{
    display: none;
}

/*----------------------MAIN----------------------*/
main{
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0px;
}

/*----------------------FILTRADO----------------------*/
.filtrado-contenedor{
    width: 25%;
    padding: 10px;
    display: none;
}
.filtrado{
    padding: 20px;
    background-color: #F3F0D7;
    border-radius: 10px;
}
.filtrado div {
    padding-top: 10px;
}
.filtrado div label{
    padding-bottom: 10px;
}
.filtrado div select{
    margin: 5px;
    width: 100%;
    border:0;
    background-color: white;
    padding: 6px;
    border-radius: 10px;
    color:#536FFF;
}
.filtrado div select option{
    border:0;
    padding: 5px;
    border-radius: 10px;
}

/*----------------productos------------*/

.productos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.productos h3{
    padding: 10px;
}
main section article img{
    width: 25%;
}

/*----------------destacados y ofertas------------*/

.destacados, .ofertas, .novedades{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.listadoProductos{
    display: flex;
    flex-direction: column;
}

article.articuloClass{
    width: 90%;
    margin: 5px auto;
    position: relative;
    padding-bottom: 45px;
    background-color: #F3F0D7;
    border-radius: 10px;
    transition: all 0.3s;
}

.destacados img, .ofertas img, .novedades img, .listadoProductos img {
    width: 96%;
    border-radius: 10px;
    /* object-fit: contain; */
    display: block;
    margin: auto;
}

.main-article-principal h4{   
    text-align: left;
    margin: 10px;
}

.main-article-principal p{
    margin: 10px;
    font-size: 12px;
}

.contenedor-precio {
    display: flex;
    justify-content: space-between;
    width: 92%;
    position: absolute;
    left: 5px;
    bottom: 7px;
}
.contenedor-precio p.precio, .contenedor-precio button{
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
}
.contenedor-precio button{
    width: 45%;
    border: 0;
    border-radius: 15px;
    background-color: #FF7070;
    color: #F3F0D7;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.contenedor-precio button i
{
    transition: all 1s ease;
}
/*--------adaptaciones------------*/

.productos h3::after {
    content: "";
    position: absolute;
    width: 51px;
    height: 3px;
    background-color: #ff7070;
    left: 9px;
    bottom: 7px;
}

.productos h3{
    position: relative;
}

/*Error pág*/
.errorPag h2
{
    text-align: center;
    margin: 26px;
}

.errorPag .imagenError, .errorPag .audiox
{
    display: flex;
    justify-content: center;
}

.contenedorGeneralFoot
{
    position:absolute;
    left: 0px;
    bottom: 0px;
}

/* Páginado */
.contenedorPaginado {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8px;
    margin-top: 8px;
}
.contenedorEnlaces {
    padding: 10px 50px;
    background-color: #fed2aa;
    border-radius: 20px;
    display: flex;
}

.contenedorEnlaces a {
    text-decoration: none;
    color: #000;
    width: 29px;
    display: block;
    text-align: center;
    transition: all 0.3s
}
.contenedorEnlaces a:hover {
    background-color: rgb(215, 237, 255);
    border-radius: 50px;
    border: 1px solid #000;
}

@media(min-width: 426px) {

    .productos{
        margin: 3px auto;
        flex-wrap: wrap;
    }
    .destacados, .ofertas, .novedades, .listadoProductos{
        flex-wrap: wrap;
        flex-direction: row;
        
    }
    article.articuloClass{
        width: 45%;
    }
}

@media (min-width:769px){

    .filtrado-contenedor{
        width: 25%;
        padding: 10px;
        display: block;
        margin: 5px;
    }
    .productos{
        width: 70%;
    }
    article.articuloClass {
        margin: 5px;
        width: 23%;
        font-size: 15px;
        /* border-radius: 128px; */
        position: relative;
        /* margin-bottom: 17px; */
        padding-bottom: 47px;
        box-shadow: -4px 4px 2px #B0B8FF;
    }

    .listadoProductos .articuloClass{
        margin: 15px;
        width: 18%;
        font-size: 15px;
        /* border-radius: 128px; */
        position: relative;
        /* margin-bottom: 17px; */
        padding-bottom: 51px;
        box-shadow: -4px 4px 2px #b0b8ff;
    }
    
    .slider{
        display: block;
        width: 100%;
        overflow: hidden;
    }
    .slider ul{
        padding: 0;
        display: flex;
        width: 400%;
        animation: cambiox 13s infinite alternate;
    }
    .slider li{
        width: 100%;
        list-style: none;
    }
    .slider img{
        width: 100%;
    }
    
    @keyframes cambiox{
        0% {margin-left:0;}
        20% {margin-left:0;}
        /*se tarda 1 seg en una imagen a otra 20x0.05*/
        25% {margin-left:-100%;}
        45% {margin-left:-100%;}
    
        50% {margin-left:-200%;}
        70% {margin-left:-200%;}
    
        75% {margin-left:-300%;}
        100% {margin-left:-300%;}
    }

    .main-article-principal {
        /* display: block; */
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        /* height: 100%; */
        /* transform: translateY(10px); */
    }

    .main-article-principal h4 {
        text-align: left;
        margin: 5px;
    }

    .main-article-principal p {
        margin: 5px;
        font-size: 12px;
    }

    /*transicion carrito*/
    .contenedor-precio button:hover i
    {
        transform: rotateX(180deg)
    }

    .listadoProductos{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }
    .destacados, .ofertas, .novedades{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }
    
}